{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $do == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('flight', array('op' => 'display'));}">管理航班</a></li>											
	<li {if $do == 'post' && empty($id)}class="active"{/if}><a href="{php echo $this->createWebUrl('flight', array('op' => 'post'));}">添加航班</a></li>
	{if $do == 'post' && $id}
	<li {if $do == 'post' && !empty($id)}class="active"{/if}><a href="{php echo $this->createWebUrl('flight', array('op' => 'post','id'=>$flight_id));}">编辑</a></li>
	{/if}
</ul>
{if $do == 'post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" id="form1">
		<div class="panel panel-default">
			<div class="panel-heading">航班详细设置</div>
			<div class="panel-body">
				{if !empty($flight['airline'])}
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">访问地址</label>
					<div class="col-sm-8 col-xs-12">
						<div class="form-control-static">
						<a href="{$_W['siteroot']}app/index.php?c=entry&m=yuexiage_travelmall&do=flight&id={$flight['flight_id']}&i={$_W['uniacid']}" target="_blank">
							{$_W['siteroot']}app/index.php?c=entry&m=yuexiage_travelmall&do=flight&id={$flight['flight_id']}&i={$_W['uniacid']}
						</a>
						</div>
						<span class="help-block">您可以根据此地址，添加回复规则，设置访问。</span>
					</div>
				</div>
				{/if}
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">排序</label>
					<div class="col-sm-8 col-xs-12">
						<input type="text" name="displayorder" class="form-control" value="{$flight['displayorder']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">发布</label>
					<div class="col-sm-8 col-xs-12">
						<label>
							<input type="radio" value="1" name="enabled" {php if ($flight['enabled']=='1') echo "checked='checked' ";}>是
						</label>
						<label>
							<input type="radio" value="0" name="enabled" {php if ($flight['enabled']=='0') echo "checked='checked' ";}>否
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">航空公司</label>
					<div class="col-sm-8 col-xs-12">
						<input type="text" name="airline" class="form-control" value="{$flight['airline']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">航空号</label>
					<div class="col-sm-8 col-xs-12">
						<input type="text" name="air_num" class="form-control" value="{$flight['air_num']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">机型</label>
					<div class="col-sm-8 col-xs-12">
						<input type="text" name="aircraft_type" class="form-control" value="{$flight['aircraft_type']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">出发城市</label>
					<div class="col-sm-8 col-xs-12">
					{php echo tpl_form_field_category_2level('departure', $regions['countrys'], $regions['_citys'],$flight['departure_country'], $flight['departure_city']);}
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">起始机场</label>
					<div class="col-sm-8 col-xs-12">
						<input type="text" name="departure_airport" class="form-control" value="{$flight['departure_airport']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">出发时间</label>
					<div class="col-sm-8 col-xs-12">
			{php echo tpl_form_field_date('departure_time',$flight['departure_time'],true);}
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">经停城市</label>
					<div class="col-sm-8 col-xs-12">
					{php echo tpl_form_field_category_2level('stop_city', $regions['countrys'], $regions['_citys'],$flight['stop_country'], $flight['stop_city']);}
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">经停机场</label>
					<div class="col-sm-8 col-xs-12">
						<input type="text" name="stop_airport" class="form-control" value="{$flight['stop_airport']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">经停时间</label>
					<div class="col-sm-8 col-xs-12">
						<div class="input-group">
							<input type="text" class="form-control" name="stop_time" value="{$flight['stop_time']}">
							<div class="input-group-addon">分钟</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">抵达城市</label>
					<div class="col-sm-8 col-xs-12">
					{php echo tpl_form_field_category_2level('arrival_city', $regions['countrys'], $regions['_citys'],$flight['arrival_country'], $flight['arrival_city']);}
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">到达机场</label>
					<div class="col-sm-8 col-xs-12">
						<input type="text" name="arrival_airport" class="form-control" value="{$flight['arrival_airport']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">到达时间</label>
					<div class="col-sm-8 col-xs-12">
					{php echo tpl_form_field_date('arrival_time',$fit['arrival_time'],true);}
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">飞行时间</label>
					<div class="col-sm-8 col-xs-12">
						<div class="input-group">
							<input type="text" name="flight_duration" class="form-control" value="{$flight['flight_duration']}" />
							<div class="input-group-addon">分钟</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<input name="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
				<input type="hidden" name="token" value="{$_W['token']}" />
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	$("#form1").submit(function(){
		if($("input[name='name']").val() == '') {
			util.message('请输入航班名称', '', 'error');
			return false;
		}
	});
</script>
{elseif $do == 'display'}
<div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<form action="./index.php" method="get" class="form-horizontal" role="form">
			<input type="hidden" name="c" value="site" />
			<input type="hidden" name="a" value="entry" />
			<input type="hidden" name="m" value="yuexiage_travelmall" />
			<input type="hidden" name="do" value="flight" />
			<input type="hidden" name="op" value="display" />
			<input type="hidden" name="action" value="flight" />
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">关键字</label>
				<div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
					<input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">
				出发地区
				</label>
				<div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
					{php echo tpl_form_field_category_2level('departure', $regions['countrys'], $regions['_citys'], $_GPC['departure']['parentid'], $_GPC['departure']['childid']);}
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">
				经停城市
				</label>
				<div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
					{php echo tpl_form_field_category_2level('stop_city', $regions['countrys'], $regions['_citys'], $_GPC['stop_city']['parentid'], $_GPC['stop_city']['childid']);}
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">
				到达地区
				</label>
				<div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
					{php echo tpl_form_field_category_2level('arrival_city', $regions['countrys'], $regions['_citys'], $_GPC['arrival_city']['parentid'], $_GPC['arrival_city']['childid']);}
				</div>
				<div class="pull-right col-xs-12 col-sm-2 col-md-2 col-lg-2">
					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="main">
	<div class="flight">
		<form action="" method="post" onsubmit="return formcheck(this)">
		<div class="panel panel-default">
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th style="width: 6%; text-align:center;">显示顺序</th>
					<th style="width:25%;">航班名称</th>
					<th style="width:15%;">出发城市/时间</th>
					<th style="width:15%;">经停城市</th>
					<th style="width:15%;">抵达城市城市/时间</th>
					<th style="width:15%;">飞行时间</th>
					<th style="width:80px; text-align:center">状态</th>
					<th style="width:15%; text-align:center">操作</th>
				</tr>
			</thead>
			<tbody>
			{loop $flight $row}
				<tr>
					<td class="text-center">
						<input type="text" class="form-control" name="displayorder[{$row['flight_id']}]" value="{$row['displayorder']}">
					</td>
					<td class="text-left">
						<div style="height:30px;line-height:30px">
							{$row['airline']}
						</div>
					</td>
					<td class="text-left">
						<div style="height:30px;line-height:30px">
							{$citys[$row['departure_city']]['name']}/{php echo date("H:i",$row['departure_time']);}
						</div>
					</td>
					<td class="text-left">
						<div style="height:30px;line-height:30px">
							{$citys[$row['stop_city_yid']]['name']}
						</div>
					</td>
					<td class="text-left">
						<div style="height:30px;line-height:30px">
							{$citys[$row['arrival_city_yid']]['name']}/{php echo date("H:i",$row['arrival_time']);}
						</div>
					</td>
					<td class="text-left">
						<div style="height:30px;line-height:30px">
							{$row['flight_duration']}小时
						</div>
					</td>
					<td>
						{if $row['enabled']==1}
							<span class="label label-success">发布</span>
						{else}
							<span class="label label-default">未发布</span>
						{/if}
					</td>
					<td class="text-right" style="position:relative;">																	
						<a href="{php echo $this->createWebUrl('flight', array('op' => 'post','id' => $row['flight_id']));}" title="编辑">编辑</a>&nbsp;-&nbsp;
						<a href="{php echo $this->createWebUrl('flight', array('op' => 'delete','id' => $row['flight_id']));}" onclick="return confirm('确认删除此航班吗？');return false;" title="删除">删除</a>
					</td>
				</tr>
			{/loop}
				<tr>
					<td colspan="8">
						<a href="{php echo $this->createWebUrl('flight', array('op' => 'post','action' => 'flight'));}"><i class="fa fa-plus-circle" title="添加新航班"></i> 添加新航班</a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>
			<div class="form-group col-sm-12">
				<input name="submit" type="submit" class="btn btn-primary col-lg-1" value="提交">
				<input type="hidden" name="token" value="{$_W['token']}" />
			</div>
		</form>
	</div>
</div>
{$pager}
{/if}
{template 'common/footer'}
