<link href="./resource/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="./resource/js/lib/jquery-1.11.1.min.js"></script>
<style>
	.select{
		padding:10px;
		border-radius: 5px;
		border:1px solid #ddd;
		width: 80px;
		text-align: center;
		cursor:pointer;
	}
	.select:hover{
		border:1px solid #bbb;
		background-color: #ddd;
	}
	input[type='radio']{
		width: 20px;
		height:20px;
	}
</style> 
<script>
	function addHotel(id,name){
		var v = "<li class='list-group-item'><i class='glyphicon glyphicon-remove'></i>"+name+"<input type='hidden' name='line[{$_GPC['n']}]["+id+"]' value='"+name+"' ></li>";
		$(".lineList{$_GPC['n']} ul",window.parent.document).append(v);
		alert('添加成功!');
	}
</script> 
{if $do == 'display'}
<div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<form action="./index.php" method="get" class="form-horizontal" role="form">
			<input type="hidden" name="c" value="site" />
			<input type="hidden" name="a" value="entry" />
			<input type="hidden" name="m" value="yuexiage_travelmall" />
			<input type="hidden" name="do" value="offeredlist" />
			<input type="hidden" name="op" value="display" />
			<input type="hidden" name="action" value="offeredlist" />
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">关键字</label>
				<div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
					<input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">
				参团游地区
				</label>
				<div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
					{php echo tpl_form_field_category_2level('offered', $countrys, $_citys, $_GPC['offered']['parentid'], $_GPC['offered']['childid']);}
				</div>
				<div class="pull-right col-xs-12 col-sm-2 col-md-2 col-lg-2">
					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="main">
	<div class="offered">
		<form action="" method="post" onsubmit="return formcheck(this)">
		<div class="panel panel-default">
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th style="width: 6%; text-align:center;">显示顺序</th>
					<th style="width:25%;">参团游名称</th>
					<th style="width:50px; text-align:center">状态</th>
					<th style="width:15%; text-align:center">操作</th>
				</tr>
			</thead>
			<tbody>
			{loop $offered $row}
				<tr>
					<td class="text-center">
						<input type="text" class="form-control" name="displayorder[{$row['id']}]" value="{$row['displayorder']}">
					</td>
					<td class="text-left">
						<div style="height:30px;line-height:30px">
							{$row['name']}
						</div>
					</td>
					<td>
						{if $row['enabled']==1}
							<span class="label label-success">发布</span>
						{else}
							<span class="label label-default">未发布</span>
						{/if}
					</td>
					<td class="text-right" style="position:relative;">
						<a href="javascript:;" onclick="addHotel({$row['id']},'{$row['name']}')">选择</a>
					</td>
				</tr>
			{/loop}
			</tbody>
		</table>
		</div>
		</div>

		</form>
	</div>
</div>
{/if}
{$pager}

