{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $do == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('order', array('op' => 'display'));}">管理订单</a></li>		
	<li {if $do == 'post' && empty($id)}class="active"{/if}><a href="{php echo $this->createWebUrl('order', array('op' => 'post'));}">添加订单</a></li>	
	{if $do == 'post' && $id}
	<li {if $do == 'post' && !empty($id)}class="active"{/if}><a href="{php echo $this->createWebUrl('order', array('op' => 'post','id'=>$id));}">编辑</a></li>
	{/if}
</ul>
{if $do == 'post'}
<style>
	table input{
		border:1px solid #fff;
	}
</style>
<div class="main">
	<form action="" method="post" class="form-horizontal form" id="form1">
		<div class="panel panel-default">
			<div class="panel-heading">订单详细设置</div>
			<div class="panel-body">
			
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">参团人信息</div>
			<div class="panel-body">
				<table class="table  table-striped">
					{loop $order_option $option}
					<tr>
						<td>姓名:{$option['join_name']}</td>
						<td>电话:{$option['join_tel']}</td>
						<td>身份证:{$option['join_id']}</td>
					</tr>
					{/loop}
				</table>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">操作</div>
			<div class="panel-body">
				<table class="table  table-striped">
					<tr>
						{if !$order['cancel'] && $order['status']==0}
						<td>
							<div class="form-group">
								<div class="col-sm-12">
									<input name="submit2" type="submit" value="已付款" class="btn btn-primary col-lg-5">
									<input type="hidden" name="token" value="{$_W['token']}" />
								</div>
							</div>
						</td>
						{/if}
						{if !$order['cancel'] && $order['status']<2}
						<td>
							<div class="form-group">
								<div class="col-sm-12">
									<input name="submit3" type="submit" value="已完成" class="btn btn-primary col-lg-5">
									<input type="hidden" name="token" value="{$_W['token']}" />
								</div>
							</div>
						</td>
						{/if}
						{if !$order['cancel'] && $order['status']<2}
						<td>
							<div class="form-group">
								<div class="col-sm-12">
									<input name="submit4" type="submit" value="已取消" class="btn btn-primary col-lg-5">
									<input type="hidden" name="token" value="{$_W['token']}" />
								</div>
							</div>
						</td>
						{/if}
					</tr>
				</table>
			</div>
		</div>
	</form>
</div>

{elseif $do == 'display'}
<style>
.tabs li{
    float: left;
    border-radius: 4px 4px 0 0;
    list-style-type: none;
}
.tabs li a{
    text-decoration:none;
    position: relative;
    display: block;
    padding: 10px 10px; 
    color:#3c763d; 
}
.tabs li a:hover{
    color:#3c763d;
}
.tab_container{
    border-top: 1px solid #ddd;
    padding: 10px;
}
.tabs #active{
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.tabs #active a{
    color: #ec971f;
}

.tabs li.active {
	color: #FFF;
    background-color: #428bca;
    border-color: #428bca;
}
.tabs li.active a{
	color:#fff;
}
</style>
<ul class="tabs" style="overflow: hidden;padding: 0;">
    <li class="{if $_GPC['t']=='f' || !isset($_GPC['t'])}active{/if}">
    	<a href="{php echo $this->createWebUrl('order', array('op' => 'display','t'=>'f'));}">常规线路
    	</a>
    </li>											
	<li class="{if $_GPC['t']=='z'}active{/if}">
    	<a href="{php echo $this->createWebUrl('order', array('op' => 'display','t'=>'z'));}">自由行
    	</a>
    </li>
    <li class="{if $_GPC['t']=='q'}active{/if}">
    	<a href="{php echo $this->createWebUrl('order', array('op' => 'display','t'=>'q'));}">签证
    	</a>
    </li>
</ul>
<div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<form action="./index.php" method="get" class="form-horizontal" role="form">
			<input type="hidden" name="c" value="site" />
			<input type="hidden" name="a" value="entry" />
			<input type="hidden" name="m" value="yuexiage_travelmall" />
			<input type="hidden" name="do" value="order" />
			<input type="hidden" name="op" value="display" />
			<input type="hidden" name="action" value="order" />
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">订单号/线路名称</label>
				<div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
					<input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}">
				</div>
			</div>
			<div class="form-group">
				
				<div class="pull-left col-xs-12 col-sm-2 col-md-2 col-lg-2">
					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
				</div>
				<div class="pull-left col-xs-12 col-sm-2 col-md-2 col-lg-2">
					<input name="export_submit" type="submit" class="btn btn-default" value="导出">
					
				</div>
			</div>
		</form>
	</div>
</div>
<div class="main">
	<div class="order">
		<form action="" method="post" onsubmit="return formcheck(this)">
		<div class="panel panel-default">
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th style="width: 6%; text-align:center;">ID</th>
					<th style="width:25%;">订单号</th>
					<th style="width:25%; text-align:center">线路名称</th>
					<th style="width:15%; text-align:center">出团日期</th>
					<th style="width:15%; text-align:center">成人价格/数量</th>
					<th style="width:15%; text-align:center">儿童价格/数量</th>
					<th style="width:15%; text-align:center">下单时间</th>
					<th style="width:15%; text-align:center">总价</th>
					<th style="width:15%; text-align:center">状态</th>
					<th style="width:15%; text-align:center">操作</th>
				</tr>
			</thead>
			<tbody>
			{loop $orders $row}
				<tr>
					<td class="text-center">
						{$row['id']}
					</td>
					<td class="text-left">
						<div style="height:30px;line-height:30px">
							<a href="###" title="{$row['ordersn']}">{$row['ordersn']}</a>
						</div>
					</td>
					<td class="text-left">
						<div style="height:30px;line-height:30px">
							<a href="###" title="{$row['goods_name']}">{$row['goods_name']}</a>
						</div>
					</td>
					<td class="text-left">
						<div style="height:30px;line-height:30px">
							{php echo date("Y-m-d",$row['event_day']);}
						</div>
					</td>
					<td class="text-left">
						<div style="height:30px;line-height:30px">
							{$row['adult_price']}*{$row['adult_num']}
						</div>
					</td>
					<td class="text-left">
						<div style="height:30px;line-height:30px">
							{$row['child_price']}*{$row['child_num']}
						</div>
					</td>
					<td class="text-left">
						<div style="height:30px;line-height:30px">
							{php echo date("Y-m-d",$row['createtime']);}
						</div>
					</td>
					<td class="text-left">
						<div style="height:30px;line-height:30px">
							{$row['total']}
						</div>
					</td>	
					<td>
						{if $row['status']==0}
							<span class="label label-danger">未付款</span>
						{elseif $row['status']==1}
							<span class="label label-success">已付款</span>
						{elseif $row['status']==2}
							<span class="label label-info">已完成</span>
						{elseif $row['status']==3}
							<span class="label label-default">已取消</span>
						{/if}
					</td>
					<td class="text-right" style="position:relative;">																	
						<a href="{php echo $this->createWebUrl('order', array('op' => 'post','id' => $row['id'],'id' => $row['id']));}" title="编辑">编辑</a>
					</td>
				</tr>
			{/loop}
			<tr>
				<td colspan="4">
					<a href="{php echo $this->createWebUrl('order', array('op' => 'post','action' => 'order'));}"><i class="fa fa-plus-circle" title="添加新订单"></i> 添加新订单</a>
				</td>
			</tr>
			</tbody>
		</table>
		</div>
		</div>

		</form>
	</div>
</div>
{$pager}
{/if}
{template 'common/footer'}
