* {
    font-family: "Microsoft YaHei";
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}
.mui-bar {
    padding-right: 0px;
    padding-left: 0px;
}
.write{
    color: #fff;
}
.bg_write{
    background-color: #fff;
}
.black{
    color: #333;
}
.mod_panel{
    background-color: #fff;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}
.mod_panel_title h5{
    padding:20px 0px 15px 0px;
    font-family: 'Microsoft YaHei';
    line-height: 1.2rem;
    padding-left: .4rem;
    font-size: 1.8rem;
    color: #333;
}
.no-title{
    padding-top: 15px;
}
/**幻灯片**/
.mod_panel.mod_slideshow{
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 5px;
    padding-bottom: 0px;
}
.mod_panel.mod_slideshow{
    padding-right: 0px;
    padding-left: 0px;
}
.mui-slider-indicator .mui-active.mui-indicator {
    box-shadow: none;
    width: 15px;
    border-radius: 3px;
    height: 5px;
}
.mui-slider-indicator{
    text-align: right;
    padding-right: 20px;
}
.mui-slider-indicator .mui-indicator{
    background-color: rgba(247, 247, 247, 0.667);
    box-shadow:none;
    margin: 1px 2px;
}
/***结束幻灯片*/
/**推荐模块**/
.recommend_mod .row_column{
    padding:.1rem;
}
.recommend_mod.hidden_padding{
    padding: 0rem;

}
.recommend_mod.hidden_padding .no-title{
    padding-top: 0px;;
}
.recommend_mod .row_column a .title{
    color: #fff;
    position: absolute;
    left: 50%;
    margin: auto;
    top: 50%;
    padding: 0px;
    transform: translate(-50%,-50%);
}
/**结束推荐模块**/
/***标签模块*/
.tab_mod .mod_panel_content{
    position: relative;
    height: 300px;
}
.tab_mod .mui-scroll .mui-control-item{
    width: 100px;
    text-align: center;
    font-size: 1.28rem;
    color: #333;
}
.tab_mod .mui-scroll .mui-control-item.mui-active{
    font-size: 1.8rem;
    color: #333;
    line-height: 27px;
}
.tab_mod .mui-scroll .mui-control-item.mui-active .border-bottom{
    content: '';
    border-radius: 25px;
    background-color: #00aeeb;
    height: 5px;
    width: 33px;
}
.tab_mod .mui-scroll .mui-control-item .border-bottom{
    margin: 5px auto;
}
.tab_mod .mui-scroll-content{
    margin: 15px auto;
    background-color: #efeff4;
}
.tab_mod .fixed{
    position: fixed;
    top: 44px;
    z-index: 999;
    width: 100%;
}
.waterfall .waterfall-item{
    padding:5px;
}
.tab_mod .mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
    border:none;
}
.tab_mod .mui-card-header>img:first-child{
    height: auto;
}
.tab_mod .mui-card{
    margin:0px;
}
.tab_mod .mui-card-header.mui-card-media{
    padding:0px;
    overflow: hidden;
}
.tab_mod .mui-card-content-inner {
    padding: 5px;
}
.tab_mod .mui-card-header.mui-card-media .price{
    color: #fff;
    border-radius: 0 14px 0 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 2px 16px;
    background-image: linear-gradient(to right, #fe8410, #f84d04);
    display: flex;
    align-items: center;
}
.tab_mod .mui-card-content-inner p span{
    background: #eef7ff;
    padding: 0 5px;
    display: flex;
    align-items: center;
    color: #003b8f;
    border-radius: .18rem;
    margin: .08rem 1.12rem .08rem 0;
    font-size: 12px;
    float: left;
}
.tab_mod .mui-card-content {
    font-size: 14px;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
}
/***标签模块结束*/
/**弹窗**/
.mui-offered-popover{
    display: none;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
    width: 90%;
    max-height: 80%;
}
.mui-offered-popover .popover-content{
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
}
.mui-offered-popover .popover-close{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.mui-offered-popover .popover-close .mui-icon{
    font-size: 44px;
}
/***弹窗结束*/