{template 'common/header'}
<link type="text/css" rel="stylesheet" href="../addons/yuexiage_travelmall/images/css/mall.css?{TIMESTAMP}">
<header class="mui-bar mui-bar-nav">
    <a class="mui-icon mui-icon mui-icon-back  mui-pull-left" href="javascript:history.go(-1)"></a>
    <h1 class="mui-title">
        选择优惠券
    </h1>
</header>

<div class="container" style="margin-top: 60px;text-align: center;">
    {loop $coupons $coupon}
    <div class="item_li">
        <h3>￥{$coupon['amount']}</h3>
        <div>订单金额满{$coupon['achieve']}元使用</div>
        <div>有效期{php echo date('Y.m.d',$coupon['createtime']);}-{php echo date('Y.m.d',$coupon['endtime']);}</div>
        <div class="item_li_right" id="{$coupon['country_id']}" rid="{$coupon['rid']}" ucid="{$coupon['id']}">
            选择优惠券
        </div>
    </div>
    {/loop}
</div>
<script type="text/javascript">
    window.onload = function(){
        mui.plusReady(function(){
        //关闭等待框
        plus.nativeUI.closeWaiting();
        //显示当前页面
        mui.currentWebview.show();
        });
    }
    $(function(){
        $(".item_li_right").click(function(){
            var id = $(this).attr("id");
            var rid = $(this).attr("rid");
            var ucid = $(this).attr("ucid");
            var subtotal = {$_GPC['subtotal']};
            mui.ajax("{php echo $this->createMobileUrl('calendar');}",{
                data:{
                    id:id,
                    subtotal:subtotal,
                    rid:rid,
                    ucid:ucid
                },
                dataType:'html',//服务器返回json格式数据
                type:'get',//HTTP请求类型
                timeout:10000,//超时时间设置为10秒；
                headers:{'Content-Type':'application/json'},                  
                success:function(data){
                    var dataset = $.parseJSON(data);
                    if(dataset.error ==0){
                        mui.alert('已选中优惠券','提示框','', function(e){
                            mui.openWindow({
                                url: "{php echo $this->createMobileUrl('calendar',array('id'=>$_GPC['id'],'subtotal'=>$subtotal,'event_day'=>$_GPC['event_day'],'adult_price'=>$_GPC['adult_price'],'adult_num'=>$_GPC['adult_num'],'child_price'=>$_GPC['child_price'],'day_id'=>$_GPC['day_id'],'child_num'=>$_GPC['child_num'],'op'=>'join'));}&country_id="+dataset.id+"&ucid="+ucid, 
                                id:'info'
                            });   
                        });
                    }else{
                        mui.toast('优惠券无效!');
                    }
                },
                error:function(xhr,type,errorThrown){
                    //异常处理；
                    console.log(type);
                }
            });
        });
    });
</script>
{template 'common/footer'}