{template 'template/header'}
<link type="text/css" rel="stylesheet" href="../addons/yuexiage_travelmall/images/css/hotel.css">
<div class="mui-content hotel" id="mui-content">
    <div class="mui-slider">
        <div class="mui-slider-group mui-slider-loop"></div>
        <div class="mui-slider-indicator"></div>
    </div>
    <div class="mh-base-info">
        <div class="base-box mh-border-bottom">
            <h1></h1>
        </div>
        <p class="star"></p>
        <p class="contact"><span class="mui-icon mui-icon-phone"></span></p>
        <p class="address">
            <span class="mui-icon mui-icon-location"></span>
            <span class="mui-icon mui-icon-arrowright"></span>
        </p>
    </div>
    <div class="m-traffic">
        <h3 class="title">详细信息</h3>
        <p class="sub-txt tips">住宿仅供参考，具体信息可咨询商家</p>
    </div>
    <div class="hotel-content">
        <div class="tab-hearder">
            <div id="sliderSegmentedControl" class="mui-segmented-control mui-segmented-control-inverted" data-scroll="1">
                <a class="mui-control-item  mui-active" href="#item1mobile1">
                酒店描述                            <div class="border-bottom"></div>
                </a>
                <a class="mui-control-item " href="#item1mobile2">
                    酒店设施                            <div class="border-bottom"></div>
                </a>
            </div>
        </div>
        <div id="item1mobile1" class="mui-control-content mui-active">
        </div>
        <div id="item1mobile2" class="mui-control-content">
            <div class="hotel_facilities">
                <h3>房间设施</h3>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 room_1">
                        <div class="faci-shortName"><i class="icon faci-icon xf15d"></i>宽带上网</div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6 room_2">
                        <div class="faci-shortName"><i class="icon faci-icon xf163"></i>空调</div>
                    </div>
                </div>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 room_3">
                        <div class="faci-shortName"><i class="icon faci-icon xf157"></i>长途电话</div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6 room_4">
                        <div class="faci-shortName"><i class="icon faci-icon xf156"></i>吹风机</div>
                    </div>
                </div>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 room_5">
                        <div class="faci-shortName"><i class="icon faci-icon xf0c8"></i>24小时热水</div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6 room_6">
                        <div class="faci-shortName"><i class="icon faci-icon xf09c"></i>暖气</div>
                    </div>
                </div>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 room_7">
                        <div class="faci-shortName"><i class="icon faci-icon xf0b6"></i>市内电话</div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6"></div>
                </div>
            </div>
            <div class="hotel_facilities">
                <h3>酒店设施</h3>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 hotel_1">
                        <div class="faci-shortName"><i class="icon faci-icon xf165"></i>西式餐厅</div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6 hotel_2">
                        <div class="faci-shortName"><i class="icon faci-icon xf14f"></i>中式餐厅</div>
                    </div>
                </div>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 hotel_3">
                        <div class="faci-shortName"><i class="icon faci-icon xf208"></i>室外游泳池</div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6 hotel_4">
                        <div class="faci-shortName"><i class="icon faci-icon xf208"></i>室内游泳池</div>
                    </div>
                </div>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 hotel_5">
                        <div class="faci-shortName"><i class="icon faci-icon xf178"></i>会议室</div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6 hotel_6">
                        <div class="faci-shortName"><i class="icon faci-icon xf151"></i>健身房</div>
                    </div>
                </div>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 hotel_7">
                        <div class="faci-shortName"><i class="icon faci-icon xf23f"></i>商务中心</div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6"></div>
                </div>
            </div>
            <div class="hotel_facilities">
                <h3>酒店服务</h3>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 service_1">
                        <div class="faci-shortName"><i class="icon faci-icon xf17a"></i>接待外宾</div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6 service_2">
                        <div class="faci-shortName"><i class="icon faci-icon xf15e"></i>洗衣服务</div>
                    </div>
                </div>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 service_3">
                        <div class="faci-shortName"><i class="icon faci-icon xf164"></i>行李寄存</div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6 service_4">
                        <div class="faci-shortName"><i class="icon faci-icon xf155"></i>携带宠物</div>
                    </div>
                </div>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 service_5">
                        <div class="faci-shortName"><i class="icon faci-icon xf13f"></i>叫醒服务</div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6 service_6">
                        <div class="faci-shortName"></div>
                    </div>
                </div>
            </div>
            <div class="hotel_facilities">
                <h3>网络设施</h3>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 wifi_1">
                        <div class="faci-shortName"><i class="icon faci-icon xf153"></i>各处提供</div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6 wifi_0">
                        <div class="faci-shortName"><i class="icon faci-icon xf153"></i>部分提供</div>
                    </div>
                </div>
            </div>
            <div class="hotel_facilities">
                <h3>停车场</h3>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 park_1">
                        <div class="faci-shortName"><i class="icon faci-icon xf153"></i>不提供</div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6 park_2">
                        <div class="faci-shortName"><i class="icon faci-icon xf153"></i>免费提供</div>
                    </div>
                </div>
                <div class="mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6 park_3">
                        <div class="faci-shortName"><i class="icon faci-icon xf153"></i>收费提供</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(function(){
        $.ajax({
            url: "{php echo $this->createMobileUrl('hotel',array('id'=>$_GPC['id']));}",
            type: "GET",
            beforeSend:function(){
                mui.showLoading("正在加载..","div");
            },
            complete:function(){
                mui.hideLoading();
            },
            async: false,
            success: function(data) {
                resp = data;
                resp = $.parseJSON(resp);
                //轮播图
                var len = resp.data.thumbs.length;
                $(".mui-slider-group").append('<div class="mui-slider-item mui-slider-item-duplicate"><img src="'+util.tomedia(resp.data.thumbs[len-1])+'" width="100%"></div>');
                $.each(resp.data.thumbs,function(i,val){
                    $(".mui-slider-group").append('<div class="mui-slider-item"><img src="'+util.tomedia(val)+'" width="100%"></div>');
                    var mui_active = '';
                    if(i == 0){ mui_active = 'mui-active';}
                    $(".mui-slider-indicator").append('<div class="mui-indicator '+mui_active+'"></div>');
                });
                $(".mui-slider-group").append('<div class="mui-slider-item mui-slider-item-duplicate"><img src="'+util.tomedia(resp.data.thumbs[0])+'" width="100%"></div>');

                var gallery = mui('.mui-slider');
                gallery.slider({
                    /*自动轮播图的间隔时间*/
                    interval: 3000
                });

                //标题
                $(".mh-base-info .mh-border-bottom h1").html(resp.data.name+'('+resp.data.country+'->'+resp.data.city+')');
                //星级
                var star = '星级：';
                for(var i=0;i <resp.data.star;i++){
                    star+='<span class="mui-icon mui-icon-star"></span>';
                }
                $(".mh-base-info .star").html(star);
                $(".mh-base-info .address span:first-child").after(resp.data.address);
                $(".mh-base-info .contact span").after(resp.data.contact);

                //酒店介绍
                $("#item1mobile1").html(resp.data.description);
                //房价设施
                $.each(resp.data.facilities.room,function(i,val){
                    $(".hotel .room_"+i).addClass('hotel-facilities-active');
                });
                //酒店设施
                $.each(resp.data.facilities.hotel,function(i,val){
                    $(".hotel .hotel_"+i).addClass('hotel-facilities-active');
                });
                //酒店服务
                $.each(resp.data.service,function(i,val){
                    $(".hotel .service_"+i).addClass('hotel-facilities-active');
                });
                //网络设施
                $(".hotel .wifi_"+resp.data.wifi).addClass('hotel-facilities-active');
                //停车场
                $(".hotel .park_"+resp.data.park).addClass('hotel-facilities-active');
            }
        });
    });
</script>
