{template 'common/header'}
<link type="text/css" rel="stylesheet" href="../addons/yuexiage_travelmall/images/css/mall.css?{TIMESTAMP}">
<header class="mui-bar mui-bar-nav">
    <a class="mui-icon mui-icon mui-icon-back  mui-pull-left" href="{php echo $this->createMobileUrl('entrance');}"></a>
    <h1 class="mui-title">
        <img src="../addons/yuexiage_travelmall/images/images/x.png?v=1" width="90px" >
    </h1>
</header>
<div class="mui-row spikelist_header">
    {php $n=0;}
    {loop $spike['time'] $k $row_time}
        {if $n == 6}
            {php break;}
        {/if}
        <div class="mui-col-sm-2 mui-col-xs-2 {if $k==$spike['ing']} active_time{/if}">
        {php echo date("H:i",$row_time);}
        {if $k==$spike['ing']} 
        <p>抢购中</p>
        {else}
        <p>即将开始</p>
        {/if}  
        </div>
        {php $n++;}
    {/loop}
</div>
<div class="mui-content spikelist_content">
    <ul class="mui-table-view">
        {php $index = current(array_keys($spike['time']));}
        {loop $spike['line'][$index] $val}
        {php $img = array_shift(iunserializer($val['thumbs']));}
        <li class="mui-table-view-cell mui-media">
            <a href="
            {if $spike['ing']}
            {php echo $this->createMobileUrl('spike_item',array('id'=>$val['id']));}
            {else}
            javascript:;
            {/if}
            ">
                <img class="mui-media-object mui-pull-left" src="{php echo tomedia($img);}">
                <div class="mui-media-body">
                    {$val['name']}
                    <p class='mui-ellipsis regular_price'>
                    {$val['regular_price']}    
                    </p>
                    <p class='mui-ellipsis original_price'>
                    <s>{$val['original_price']}  </s>  
                    </p>
                </div>
                <div class="mui-media-bottom">
                {if $spike['ing']}
                    <button type="button" class="mui-btn mui-btn-danger">
                    抢购
                    </button>
                {/if}
                </div>
            </a>
        </li>
        {/loop}
    </ul>
</div>

<link type="text/css" rel="stylesheet" href="../addons/yuexiage_travelmall/images/css/mall.css?{TIMESTAMP}">
<div class="mui-content">
{loop $home_modules  $module}
{php $$module['type'] =$module; }
{template 'module/'.$module['type']}
{/loop}
</div>
{template 'common/footer'}