<div class="spike_mod">
    <script>
        require.config({
    　　　　shim: {
            'swiper': {
                exports: '$',
                deps: ['css!../../components/swiper/swiper.min.css']
            },      
            }
        });
    </script>
    <script>
        function spike_timer(intDiff,endtime){
            window.setInterval(function(){
                var day=0,hour=0,minute=0,second=0;//时间默认值
                if(intDiff > 0){
                    day = Math.floor(intDiff / (60 * 60 * 24));
                    hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                    minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                    second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                }
                if (minute <= 9) minute = '0' + minute;
                if (second <= 9) second = '0' + second;
                if(day>0){
                    hour += day*24
                }

                var timestamp = Date.parse(new Date()).toString().substring(0,10);
                if(timestamp < endtime){
                    //未开始
                    $(".spike_right_{$spike['id']} .spike_countdown_{$spike['id']}").children('.spike_hour_show_{$spike['id']}').html('<s id="h"></s>'+hour+':');
                    $(".spike_right_{$spike['id']} .spike_countdown_{$spike['id']}").children('.spike_minute_show_{$spike['id']}').html('<s></s>'+minute+':');
                    $(".spike_right_{$spike['id']} .spike_countdown_{$spike['id']}").children('.spike_second_show_{$spike['id']}').html('<s></s>'+second);
                }else if( (endtime < timestamp) && (endtime+{$spike_end})> timestamp){
                    //进行中
                    ht = '<strong style="margin-left: 10px;color:#eee;float: left;">进行中</strong>';
                    $(".spike_mod .spike_right_{$spike['id']}").html(ht);
                }else if((endtime < timestamp) && (intDiff+{$spike_end}) < timestamp ){
                    //已结束
                    ht = '<strong style="margin-left: 10px;color:#eee;float: left;">已结束</strong>';
                    $(".spike_mod .spike_right_{$spike['id']}").html(ht);
     
                }

                intDiff--;
            }, 1000);
        }
    </script>
    <style>
    .swiper-container{$spike['id']}{
        width: 100%;
        overflow: hidden;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    </style>
    {php $realHome = current($home);}
    <h5><img src="../addons/yuexiage_travelmall/images/images/x.png?v=1" width="90px" style="margin-right: 10px;float: left;">
    <strong style="float: left;">{php echo date("H",$realHome);}点场</strong>
    <div class="spike_right_{$spike['id']}">
        {if $toDayOver == 0}
        <div class="spike_countdown_{$spike['id']}" countdown="{$realHome}" style="width: 85px;float: left;margin-left: 10px;">
            <a class="time-item spike_hour_show_{$spike['id']}">0时</a>
            <a class="time-item spike_minute_show_{$spike['id']}">0分</a>
            <a class="time-item spike_second_show_{$spike['id']}">0秒</a>
        </div>
        {elseif $toDayOver == 1}
        <strong style="margin-left: 10px;color:#eee;float: left;">正在进行</strong>
        {elseif $toDayOver == 2}
        <div class="spike_countdown_{$spike['id']}" countdown="{$realHome}" style="width: 85px;float: left;margin-left: 10px;">
            <a class="time-item spike_hour_show_{$spike['id']}">0时</a>
            <a class="time-item spike_minute_show_{$spike['id']}">0分</a>
            <a class="time-item spike_second_show_{$spike['id']}">0秒</a>
        </div>
        {elseif $toDayOver == 3}
        <strong style="margin-left: 10px;color:#eee;float: left;">等待下次</strong>
        {/if}
    </div>
   
    </h5>
    <div class="swiper-container{$spike['id']}">
        <div class="swiper-wrapper">
            {loop $homeItem $val}
            {php $img = iunserializer($val['thumbs'])['0'];}
            <div class="swiper-slide">
                <div class="mui-card-header mui-card-media">
                <a href="{php echo $this->createMobileUrl('spikelist',array('id'=>$spike['id']));}">
                    <img src="{php echo tomedia($img);}" width="100%" style="height: 80px;"/>
                    <div class="mui-media-body">
                        <header>{$val['name']}</header>
                        <div class="mui-row">
                            <div class="mui-col-sm-4 mui-col-xs-4">
                            <strong style="color:red;font-size: 14px;">{$val['adult_price']}￥</strong>
                           <s style="color:#eee;font-size: 14px;">{$val['original_price']}￥</s>
                            </div> 
                        </div>
                    </div>
                </a>    
                </div>
            </div>
            {/loop}
        </div>
    </div>
    <script>
    require(['swiper'], function ($, _,u){
        swiper = new Swiper('.swiper-container{$spike['id']}', {
            slidesPerView: 3,
            paginationClickable: true,
            spaceBetween: 10,
            freeMode: true
        });
        console.log(swiper);
    });
    </script>
    <script>
        var now = Date.parse(new Date())/1000;
        var endtime = $(".spike_countdown_{$spike['id']}").attr('countdown');
        if(endtime>0){
            endT = {$spike_end};
            var intdiffer =  (parseInt(endtime)+parseInt(endT))-parseInt(now)
            spike_timer(intdiffer,endtime);
        }
    </script>
</div>