<div class="style_mod">
    {if $style['show_title'] =='1'}
    <div class="floor-header fh-center">  
    <h5>{$style['name']}</h5>
    </div>
    {/if}
    {php $style['img'] = iunserializer($style['img']);}
    {php $style['lnk'] = iunserializer($style['lnk']);}
    <ul class="mui-table-view mui-grid-view mui-grid-9">
        {loop $style['img'] $key $img}
        {if $img}
        <li class="mui-table-view-cell mui-media " style="width: {php echo 100/$style['columns']}%; padding: 2px;">
            <a href="{php echo $style['lnk'][$key];}">
                <img src="{php echo tomedia($img);}" width="100%">
            </a>
        </li>
        {/if}
        {/loop}
    </ul>
</div>