{template 'template/header'}
<link type="text/css" rel="stylesheet" href="../addons/yuexiage_travelmall/images/css/mobile_calendar.css?{TIMESTAMP}">
<script src="../addons/yuexiage_travelmall/images/js/mobile_calendar.js?{TIMESTAMP}"></script>
<header class="mui-bar mui-bar-nav" data-top='0' data-offset='150' data-duration='20' >
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">{$spike_item['name']}</h1>
</header>
<div class="mui-row calendar">
    <div class="mui-col-xs-12 mui-col-sm-12">
        <div class="calendar">
            <div class="title">
                <h1>
                    <span class="" id="calendar-title">月</span>
                    <span class="" id="calendar-year">年</span>
                </h1>
                <a href="" class="mui-icon mui-icon-arrowleft gray" id="pre"></a>
                <a href="" class="mui-icon mui-icon-arrowright gray" id="next"></a>
            </div>
            <div class="body">
                <div class="lightgrey body-list">
                    <ul class="week">
                        <li>周日</li>
                        <li>周一</li>
                        <li>周二</li>
                        <li>周三</li>
                        <li>周四</li>
                        <li>周五</li>
                        <li>周六</li>
                    </ul>
                </div>
                <div class="darkgrey body-list">
                    <ul id="days"></ul>
                </div>
            </div>
            <div class="bar">
                <ul class="mui-table-view" style="margin-bottom: 70px;">
                    <li class="mui-table-view-cell">成人: ￥<em class="adult_price"></em>
                        <div class="mui-numbox" data-numbox-step='1' data-numbox-min='1' data-numbox-max='10' style="float: right;">
                            <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
                            <input class="mui-numbox-input" type="number" name="adult_num"/>
                            <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">儿童: ￥<em class="child_price"></em>
                        <div class="mui-numbox" data-numbox-step='1' data-numbox-min='0' data-numbox-max='10' style="float: right;">
                            <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
                            <input class="mui-numbox-input" type="number" name="child_num" />
                            <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
                        </div>
                    </li>
                    <input type="hidden" name="stock" value="0">
                    <input type="hidden" name="amount_id" value="0">
                </ul>
            </div>
        </div>
    </div>
    <div class="tab_bottom mui-row">
        <div class="mui-col-sm-12 mui-col-xs-12">
            <button type="button" class="mui-btn mui-btn-warning next-btn mui-btn-block">
                下一步,填写订单
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $.calendar._({
            dayClick:function(date,obj){
                //确定点击的是哪个日期
                var data_date = $(obj).attr('data-date');
                //如果背景已经是绿色
                $(".selection").removeClass('selection');
                var adult_price = $('.day-content-adult',obj).attr('adult-price');
                var child_price = $('.day-content-adult',obj).attr('child-price');
                var stock       = $('.day-content-adult',obj).attr('stock');
                var amount_id   = $('.day-content',obj).attr('amount_id');
                $("input[name='stock']").val(stock);
                $("input[name='amount_id']").val(amount_id);
                $(".adult_price").text(adult_price);
                $(".child_price").text(child_price);
                if(stock <1){
                    $(".next-btn").attr('disabled','disabled');
                }else{
                    $(".next-btn").attr("disabled",false);
                }
                $(obj).addClass('selection');
            },
            s_date:"{$_GPC['date']}",
            url:"{php echo $this->createMobileUrl('event',array('offered_id'=>$_GPC['id'],'op'=>'all'));}"
        });


        $(".next-btn").click(function(){
            //成人价格
            var adult_price = $(".adult_price").text();
            if( adult_price <=0 ){
                mui.toast('成人价格错误!');
                return false;
            }

            //成人数量
            var adult_num = $("input[name='adult_num']").val();
            if(adult_num <=0){
                mui.toast('成人数量错误!');
                return false;
            }

            var child_num = $("input[name='child_num']").val();
            var stock = $("input[name='stock']").val();
            if( (parseInt(adult_num)+parseInt(child_num)) > parseInt(stock) ){
                mui.toast('人数超过库存上限!');
                return false;
            }
            var amount_id = $("input[name='amount_id']").val();
            mui.openWindow({
                id:'calendar',
                url:"{php echo $this->createMobileUrl('offered',array('op'=>'booking','id'=>$_GPC['id']));}&adult_num="+adult_num+'&child_num='+child_num+'&amount_id='+amount_id,
            });
        });
    });
</script>
{template 'template/footer'}