{template 'template/header'}
<link type="text/css" rel="stylesheet" href="../addons/yuexiage_travelmall/images/css/offered.css?{TIMESTAMP}">
<header class="mui-bar mui-bar-nav mui-bar-transparent write" data-top='0' data-offset='150' data-duration='20' >
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title"></h1>
</header>
<div class="mui-content offered_item" id="mui-content">
    <div class="mui-slider">
        <div class="mui-slider-group"></div>
        <div class="mui-slider-indicator"></div>
    </div>
    <div class="bese_info">
		<ul>
			<li>
				<p class="big_title">
					<span class="spick_item_title"></span>
				</p>
			</li>
			<li><span class="sma_title"></span></li>
			<li>
				<p class="price"><i>¥</i><span class="pri"></span>起</p>
			</li>
			<li>
				<strong class="prices">
					儿童 ¥10480
				</strong>
			</li>
			<li>
				<p class="tab"></p>
			</li>
			<li>
				<div class="xiajia">
				当前商品已下架
				</div>
			</li>
		</ul>
    </div>

	<div class="dataBox mar_bot10">
		<div class="dataTitleBox">出发日期</div>
		<div class="dataListBox">
			<ul></ul>
            <input type="hidden" id="date" value="">
		</div>
	</div>
	<div class="part_info mar_bot10">
		<ul>
			<li><span class="cfd">出发地</span><p><em>北京</em></p></li>
		</ul>
	</div>
	<div class="detail_infobox">
		<div class="deta_nav">
			<ul class="mui-row">
                <li class="cur" ><a a_id="001">产品特色</a></li>
				<li><a a_id="002">线路行程</a></li>
				<li><a a_id="003">费用说明</a></li>
				<li><a a_id="004">签证信息</a></li>
				<li><a a_id="005">预定须知</a></li>
			</ul>
		</div>
        <a name="001" id="001" ></a>
        <div class="detail_info">
            <div class="nav_cpts tabsContent">
                <div class="info_linebox mar_bot10">
                    <div class="info_tjly">
                        <p class="title"><strong>产品特色</strong></p>
                        <div class="des_text"> <pre style="white-space:pre-wrap;"><p class="characteristic"></p></pre></div>
                    </div>
                </div>
            </div>
        </div>
        <a name="002" id="002" ></a>
        <div class="m-traffic">
            <h3 class="title">交通信息</h3>
            <p class="sub-txt tips">交通住宿仅供参考，具体信息可咨询商家</p>
            <ul class="list">
            </ul>
        </div>
        <div class="m-route complex">
            <ul class="list"></ul>
        </div>
        <a name="003" id="003" ></a>
        <div class="detail_info">
            <div class="nav_cpts tabsContent">
                <div class="info_linebox mar_bot10">
                    <div class="info_tjly">
                        <p class="title"><strong>费用包含</strong></p>
                        <div class="des_text"> <pre style="white-space:pre-wrap;"><p class="contain">：意大利四星酒店，其余三星境外全程含餐，让您无后顾之忧艺术圣殿：卢浮宫5大世界遗产：罗马、佛罗伦萨、威尼斯、比萨、凡尔赛</p></pre></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail_info">
            <div class="nav_cpts tabsContent">
                <div class="info_linebox mar_bot10">
                    <div class="info_tjly">
                        <p class="title"><strong>费用不包含</strong></p>
                        <div class="des_text"> <pre style="white-space:pre-wrap;"><p class="not_included"></p></pre></div>
                    </div>
                </div>
            </div>
        </div>
        <a name="004" id="004" ></a>
        <div class="detail_info">
            <div class="nav_cpts tabsContent">
                <div class="info_linebox mar_bot10">
                    <div class="info_tjly">
                        <p class="title"><strong>签证信息</strong></p>
                        <div class="des_text"> <pre style="white-space:pre-wrap;"><p class="visa"></p></pre></div>
                    </div>
                </div>
            </div>
        </div>
        <a name="005" id="005" ></a>
        <div class="detail_info">
            <div class="nav_cpts tabsContent">
                <div class="info_linebox mar_bot10">
                    <div class="info_tjly">
                        <p class="title"><strong>预定须知</strong></p>
                        <div class="des_text"> <pre style="white-space:pre-wrap;"><p class="booked"></p></pre></div>
                    </div>
                </div>
            </div>
        </div>
	</div>
    <div class="tab_bottom mui-row">
        <div class="mui-col-sm-3 mui-col-xs-3 collection">
            <span class="mui-icon mui-icon-star"></span>
            <p>收藏</p>
        </div>
        <div class="mui-col-sm-3 mui-col-xs-3 customer">
            <a href="tel:">
            <span class="mui-icon mui-icon-phone"></span>
            <p>客服</p>
            </a>
        </div>
        <div class="mui-col-sm-6 mui-col-xs-6">
            <button type="button" class="mui-btn mui-btn-warning reserve mui-btn-block "><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>立即预定</button>
        </div>
    </div>
</div>
<div id="middlePopover" class="mui-offered-popover">
    <div class="popover-content">
        <iframe src="" class="iframe" width="100%" height="400px;" style="border:none"></iframe>
    </div>
    <div class="popover-close">
        <i class="mui-icon mui-icon-close"></i>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $.ajax({
            url: "{php echo $this->createMobileUrl('offered',array('id'=>$_GPC['id'],'op'=>'offered_item'));}",
            type: "GET",
            beforeSend:function(){
                mui.showLoading("正在加载..","div");
			},
            complete:function(){
                mui.hideLoading();
            },
            async: false,
            success: function(data) {
                resp = data;
                resp = $.parseJSON(resp);
				console.log(resp);
                if(resp.code != 20){
                    alert(resp.msg);
                    history.back(-1);
                }
                //轮播图
                $.each(resp.data.offered.thumbs,function(i,val){
                    $(".mui-slider-group").append('<div class="mui-slider-item"><img src="'+util.tomedia(val)+'" width="100%"></div>');
					$(".mui-slider-indicator").append('<div class="mui-indicator"></div>');
                });
                var gallery = mui('.mui-slider');
                gallery.slider({
                    /*自动轮播图的间隔时间*/
                    interval: 3000
                });

                //基础信息的标签
                $.each(resp.data.offered.tabs,function(i,val){
                    $(".tab").append('<strong>'+val+'</strong>');
                });

                //是否下架判断
				if( (resp.data.offered.enabled==0) || (resp.data.offered.upper_shelf ==1 && resp.data.offered.end == 1) ){
					$(".xiajia").show();
					$(".reserve").attr("disabled","disabled");
				}

				//标题
				$(".bese_info .spick_item_title").text(resp.data.offered.name);
				//特色
                $(".sma_title").text(resp.data.offered.description);

                //产品特色
                $(".characteristic").html(resp.data.offered.characteristic);

                //价格
				$('.pri').text(resp.data.offered.adult_price);
                $('.prices').text('儿童:￥'+resp.data.offered.child_price);

                //出发城市
				city_id = resp.data.offered.departure_city;
				$(".cfd em").text(resp.data.city[city_id].name);

				//日期
                $.each(resp.data.offered.date,function(i,val){
                    console.log(val);
                    var today = new Array('周日','周一','周二','周三','周四','周五','周六');
                    var week  = today[val.w];
                    var amount_id = 'amount_id='+val.amount_id;
                    if( resp.data.offered.enabled==0 ){
                        amount_id = 'amount_id=-1';
                    }
                    var active = '';
                    if(i ==0){
                        active = "active";
                        $("#date").val(val.date);
                    }
					$(".dataListBox ul").append('<a '+amount_id+' date="'+val.date+'"><li class="'+active+'"><div>'+val.d+week+'</div><div class="priceBox">¥'+val.adult_price+'</div></li></a>');
                });

                if( resp.data.offered.enabled==1 ){
                    $(".dataListBox ul").append('<a class="more_date" ><li style="line-height:36px">更多</li></a>');
                }

                //费用熬好
                $(".contain").html(resp.data.offered.contain);
                //费用不含
                $(".not_included").html(resp.data.offered.not_included);
                //签证说明
                $(".visa").html(resp.data.offered.visa);
				//预定须知
                $(".booked").html(resp.data.offered.booked);

                //客服
                $(".customer a").attr('href','tel:'+resp.data.offered.customer);
                //行程-航班
                if(resp.data.offered.trip){
                    var html = '';
                    $.each(resp.data.offered.trip,function(i,val){
                        html += '<li class="item">\
                                <div class="g-flexbox-start">\
                                    <div>\
                                        <span class="tag">\
                                            <span class="txt">去</span>\
                                        </span>\
                                    </div>\
                                    <div class="flex">\
                                        <div class="hd">'+val.departure_city+'-'+val.arrival_city+val.airline+val.air_num+'</div>\
                                        <div class="g-flexbox bd">\
                                            <div class="dd">'+val.departure_time+'</div>\
                                            <div class="flex ta-c">\
                                                <div class="date">\
                                                <span class="before"></span>'+val.flight_duration+'<span class="after"></span>\
                                            </div>\
                                        </div>\
                                        <div class="dd"> '+val.arrival_time+'</div>\
                                    </div>\
                                    <div class="stop">\
                                        <div class="stop_airport">(停留:'+val.stop_city+'-'+val.stop_airport+'-'+val.stop_time+'分钟)</div>\
                                    </div>\
                                    <div class="g-flexbox ft">\
                                        <div>'+val.airline+'</div>\
                                        <div class="flex ta-r">'+val.arrival_airport+'</div>\
                                        <div class="fly-type"></div>\
                                    </div>\
                                </div>\
                            </div>\
                        </li>';
                    });
                    $(".m-traffic .list").append(html);
                }

                if(resp.data.offered.return_trip){
                    var html = '';
                    $.each(resp.data.offered.return_trip,function(i,val){
                        html += '<li class="item return_item">\
                                <div class="g-flexbox-start">\
                                    <div>\
                                        <span class="tag">\
                                            <span class="txt">反</span>\
                                        </span>\
                                    </div>\
                                    <div class="flex">\
                                        <div class="hd">'+val.departure_city+'-'+val.arrival_city+val.airline+val.air_num+'</div>\
                                        <div class="g-flexbox bd">\
                                            <div class="dd">'+val.departure_time+'</div>\
                                            <div class="flex ta-c">\
                                                <div class="date">\
                                                <span class="before"></span>'+val.flight_duration+'<span class="after"></span>\
                                            </div>\
                                        </div>\
                                        <div class="dd"> '+val.arrival_time+'</div>\
                                    </div>\
                                    <div class="stop">\
                                        <div class="stop_airport">(停留:'+val.stop_city+'-'+val.stop_airport+'-'+val.stop_time+'分钟)</div>\
                                    </div>\
                                    <div class="g-flexbox ft">\
                                        <div>'+val.airline+'</div>\
                                        <div class="flex ta-r">'+val.arrival_airport+'</div>\
                                        <div class="fly-type"></div>\
                                    </div>\
                                </div>\
                            </div>\
                        </li>';
                    });
                    $(".m-traffic .list").append(html);
                }

                $.each(resp.data.offered.strokes,function(i,val){
                   //酒店
                    var hotel = '<li class="item hotel"><h5 class="sub-tit">入住酒店</h5><p class="sub-txt space-line">说明：具体以实际安排为准</p><ul class="product-list  mui-table-view">';
                    $.each(val.stay,function(k,v){
                        hotel+= '<li class="mui-table-view-cell mui-media item item-txt">\
                                    <a href="#middlePopover" class="hotel" id="'+v.hotel_id+'">\
                                    <img class="mui-media-object mui-pull-left" src="'+util.tomedia(v.thumbs[0])+'">\
                                    <div class="mui-media-body">'+v.name+'<p class="mui-ellipsis">'+v.description+'</p></div>\
                                    </a>\
                            </li>';
                    });
                    hotel+= '</ul></li>';

                    //景点
                    var sight = '<li class="item hotel"><h5 class="sub-tit">景点</h5><ul class="product-list  mui-table-view">';
                    $.each(val.viewpoint,function(k,v){
                        sight+= '<li class="mui-table-view-cell mui-media item item-txt">\
                                    <a href="#middlePopover" class="viewpoint" id="'+v.viewpoint_id+'">\
                                    <img class="mui-media-object mui-pull-left" src="'+util.tomedia(v.thumbs[0])+'">\
                                    <div class="mui-media-body">'+v.name+'<p class="mui-ellipsis">'+v.description+'</p></div>\
                                    </a>\
                            </li>';
                    });
                    sight+= '</ul></li>';

                    var stroke = '<li class="item" id="day_'+(i+1)+'">\
                        <div class="sticky-bar sticky-bar-multi">\
                        <div class="day">第'+(i+1)+'天</div>\
                        </div><h2 class="title">'+val.stroke+'</h2>\
                        <ul class="route-list">\
                        <li class="item desc"><div class="txt-box">说明：<span class="sub-txt"> '+val.desc+'</span></div></li>\
                        <li class="item food">\
                            <h5 class="sub-tit">\
                                <span class="txt">餐饮</span>\
                            </h5>\
                            <div class="txt-box">早餐：\
                                <span class="sub-txt">  '+val.breakfast+'</span>\
                            </div>\
                             <div class="txt-box">午餐：\
                                <span class="sub-txt"> '+val.lunch+'</span>\
                            </div>\
                            <div class="txt-box">晚餐：\
                                <span class="sub-txt"> '+val.dinner+'</span>\
                            </div></li>'+hotel+sight+'\
                            <li class="item shopping">\
                                <div class="txt-box">购物：<span class="sub-txt">'+val.shopping+'</span>\
                            </div>\
                        </li>\
                    </ul>\
                 </li>';
                 $(".m-route .list").append(stroke);
                });


            }
        })

        $(".mui-bar-transparent").on("alpha", function(evt) {
            var alpha= evt.detail.alpha
            if(alpha == 0){
                $(".mui-title").text('');
            }else{
                $(".mui-title").text($(".spick_item_title").text());
                $(this).addClass('bg_write');
            }
        });

		$(".detail_infobox").on('tap','.deta_nav a',function(){
		    var a_id = $(this).attr('a_id');
		    $('.deta_nav li').removeClass("cur");
            $(this).parent().addClass("cur");
            $('body,html').animate({scrollTop: $('#'+a_id).offset().top-100}, 500);
        });

        $('a[href^="#"]').click(function(){
            if($($(this).attr('href')).attr('class') == 'mui-offered-popover'){
                var c           = $(this).attr('class');
                if(c == 'hotel'){
                    var url       = "{php echo $this->createMobileUrl('hotel',array())}";
                }else{
                    var url   = "{php echo $this->createMobileUrl('viewpoint',array())}";
                }
                $($(this).attr('href')+ " .iframe").attr('src',url+'&id='+$(this).attr('id'));
                $("body").append('<div class="mui-backdrop mui-active" style=""></div>');
                $($(this).attr('href')).show();
            }
        });

        $(" .popover-close .mui-icon").click(function(){
            $(".mui-backdrop.mui-active").remove();
            $(this).parent().parent().hide();
        });

        var i = 0;
        $(window).scroll(function(){
            var t = $(this).scrollTop();
            $(".deta_nav li").removeClass("cur");
            for(var i =1; i<=5; i++){
                var nav = $("#00"+i).offset().top-100;
                var n = i+1;
                if(n < 6){
                    var nav_next = $("#00"+n).offset().top-100;
                    if ( (t > nav ) && (t <nav_next) ){
                        $("a[a_id='00"+i+"']").parent().addClass("cur");
                    }else if(t < ($("#001").offset().top-100)){
                        $("a[a_id='001']").parent().addClass("cur");
                    }
                }else if( (n == 6) && t > ($("#005").offset().top-100)){
                    $("a[a_id='005']").parent().addClass("cur");
                }
            }
        });

        //日期
        $(".dataListBox a").click(function(){
            if($(this).attr('amount_id') != '-1'){
                var d = $(this).attr('date');
                $(".dataListBox li").removeClass('active');
                $('li',this).addClass('active');
                $("#date").val(d);
            }
        });

        $(".shoucang").click(function(){
            mui.ajax("{php echo $this->createMobileUrl('collection',array('id'=>$_GPC['id']));}",{

                dataType:'html',//服务器返回json格式数据
                type:'get',//HTTP请求类型
                timeout:10000,//超时时间设置为10秒；
                headers:{'Content-Type':'application/json'},
                success:function(data){
                    var dataset = $.parseJSON(data);
                    if(dataset.error=='0'){
                        $(".shoucang").addClass('active');
                        mui.toast(dataset.msg);
                    }
                },
                error:function(xhr,type,errorThrown){
                    console.log(type);
                }
            });
        });
    });
    mui(".offered_item").on('tap','.more_date,.reserve',function(){
        //获取id
        var date = mui("#date")[0].getAttribute("value");
        mui.openWindow({
            id:'calendar',
            url:"{php echo $this->createMobileUrl('offered',array('op'=>'calendar','id'=>$_GPC['id']));}&date="+date,
        });
    })
</script>
{template 'template/footer'}